body {
    color: black;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    border: solid; border-width: 3px; border-color: grey;
    margin: auto;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 500px;
}

.containerHead {
    max-width: 1920px;
    max-height: 1080px;
    min-width: 500px;
    background-image: url(../imagens/background_cadastro.jpg);
    background-size: 100%;
    width: 100vw;
    margin: 0 auto;
}

.tela {
    background-color: #EDEDED;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
    padding: 20px;
}

.containerCadastro { /*   contém os campos de cadastro dos dados do usuario dentro da <li>   */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    float: left;
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0px;
}

li { /*   lista dos campos <li>   */
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 60px;
}

button:hover {
    background-color: rgba(28, 116, 98, 1);
    box-shadow: inset 2px 2px 2px white;
}

.containerBotoes {
    flex-direction: row;
    padding: 10px;
    margin: 0px;
}

.btIncluir, .btCancelar, .btImagem, .btVoltar {   /*   efeito dos botões   */
    background-color: rgba(133, 128, 128, 1);
    border-radius: 30px;
    margin: 5px;
    padding: 10px;
    width: 120px;
    color: white;
    font-size: 14px;
    text-align: center;
    box-shadow: inset 8px 6px 8px rgba(73, 73, 73, 1);
}
