body {
    color: black;
    background-color: grey;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.telaPrincipal {
    max-width: 1920px;
    max-height: 1080px;
    min-width: 800px;
    border: solid; border-width: 1px; border-color: yellow;
    background-image: url(../imagens/Background_Principal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.telaQuemSomos {
    max-width: 1920px;
    max-height: 1080px;
    border: solid; border-width: 1px; border-color: blue;
    background-color: rgba(237, 237, 237, 1);
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.telaEventos {
    max-width: 1920px;
    max-height: 1080px;
    border: solid; border-width: 1px; border-color: green;
    background-color: rgba(237, 237, 237, 1);
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.telaMenu {
    max-width: 1920px;
    max-height: 1080px;
    border: solid; border-width: 1px; border-color: yellow;
    background-color: rgba(237, 237, 237, 1);
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.telaCursos {
    max-width: 1920px;
    max-height: 1080px;
    border: solid; border-width: 1px; border-color: blue;
    background-color: rgba(237, 237, 237, 1);
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.telaContato {
    max-width: 1920px;
    max-height: 1080px;
    border: solid; border-width: 1px; border-color: green;
    background-color: rgba(237, 237, 237, 1);
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 14px 15px;
}

.logoPrincipal{
    display: flex;
    justify-content: center;
    margin-top: 280px;
}

.logotipo{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    position: center;
}

* {
    /*border: solid; border-width: 1px; border-color: red;*/
    margin: 0;
    padding: 0;
    box-sizing: 0;
}