/* CONFIGURAÇÕES GERAIS INDEX E SITE */
/* Atualizacoes em 20/05/2023 */
* {
    /*border: solid; border-width: 1px; border-color: red;*/
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-style: normal;+
    font-weight: 400;
    box-sizing: 0px;
    margin: 0;
}

html {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
}

body {
    color: black;
    background: linear-gradient(to bottom, #B6BCBD 40%, grey 100%);
}

a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
}

h1 {
    color: black;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    padding: 80px 20px 0px 40px;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 20px 20px 40px;
}

p {
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding: 80px 40px 0px 40px;
}

/* CONFIGURAÇÕES TELA PRINCIPAL */

.containerPrincipal {
    display: flex;
    background-image: url(../img/Background_Cimento.jpg);
    background-repeat: no-repeat;
    max-width: 1024px;
    width: 1024px;
    max-height: 768px;
    height: 768px;
    min-width: 400px;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.containerImgPrincipal {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 1024px;
    max-height: 768px;
    height: 768px;
    min-width: 400px;
    margin: 0 auto;
}

.imgPrincipal1 {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.imgPrincipal2 {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.logotipo {
    position: absolute;
    width: 250px;
    height: 250px;
    min-width: 150px;
    align-self: center;
}

.bule {
    align-self: flex-end;
    width: 100vw;
    height: 100hw;
    max-width: 220px;
    padding: 10px;
}

.xicara1 {
    align-self: center;
    width: 172px;
    height: 190px;
}

.moedor {
    align-self: flex-end;
    width: 100vw;
    height: 100hw;
    max-width: 420px;
    padding: 20px 5px 0px 0px;
}

.arabica {
    width: 100vw;
    height: 100hw;
    max-width: 260px;
    align-self: center;
    padding: 0px 10px 30px 80px;
}

/* CONFIGURAÇÕES TELA QUEM SOMOS */

.containerQuemSomos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 1024px;
    width: 100vw;
    max-height: 768px;
    height: 100vh;
    min-width: 400px;
    background-size: 100%;
    background-color: rgba(237, 237, 237, 1);
    margin: 0 auto;
}

.containerQuemSomos p {
    color: white;
}

.cxtexto {
    display: flex;
    align-items: stretch;
    width: 1024px;
    height: 100%;
}

.cxt1 {
    flex-grow: 1;
    background: #EDEDED;
    min-width: 40%;
}

.cxt2 {
    flex-grow: 1;
    background: #50897D;
}

.contImgLoja {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    max-width: 1024px;
    gap: 20px;
}

.contImgLoja img {
    max-width: 300px;
    max-height: 300px;
    min-width: 120px;
    height: 100%;
    width: 100%;
    padding: 10px 10px 0px 10px;
}

.telaQuemSomos p {
    color: white;
    padding: 80px 40px 0px 40px;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
 }

/* CONFIGURAÇÕES TELA EVENTOS */

.containerEventos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    max-height: 768px;
    min-width: 400px;
    width: 1024px;
    height: 768px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    background-color: #EDEDED;
}

.containerEventos2 {
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: flex;
    align-items: stretch;
}

.imgEventos {
    max-width: 480px;
    max-height:480px;
    width: 100vw;
    height: 100vh;
}

.cxt1_eventos {
    width: 1024px;
    height: 260px;
    background: rgba(237, 237, 237, 1);
    margin: 0 auto;
}

.cxt2_eventos {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.containerEventos p {
    color: black;
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
    height: auto;
 }

/* CONFIGURAÇÕES TELA CURSOS */

.containerCursos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    max-height: 768px;
    min-width: 400px;
    background: #F5F5F5;
    width: 100vw;
    height: 100vh;
    height: 768px;
    margin: 0 auto;
}

.contTxtCursos {
    width: 1024px;
    height: 260px;
    background: #EDEDED;
    margin: 0 auto;
}

.contImgCursos {
    background: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1024px;
    min-width: 400px;
}

.imgIcon {
    order: 0;
    align-self: center;
}

.imgEspresso {
    align-self: flex-end;
    order: 1;
}

.imgBarista {
    min-height: auto;
    order: 2;
}

/* CONFIGURAÇÕES TELA MENU */

.containerMenu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    max-width: 1024px;
    max-height: 768px;
    min-width: 400px;
    background-color: #B6BCBD;
    width: 100vw;
    height: 100vh;
    height: 768px;
    margin: 0 auto;
}

.contTxtMenu {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    height: 290px;
    background: #EDEDED;
    margin: 0 auto;
}

.contImgMenu img {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.contImgMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    max-width: 1024px;
    width: 1024px;
    height: 440px;
}

.contImgMenu div:hover {
    box-shadow: 2px 3px 20px 2px #000000;
    transition: 0.5s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contImgMenu div {
    background-color: #F5F5F5;
    max-width: 200px;
    max-height: 210px;
    min-width: 150px;
    width: 100vw;
    height: 40vh;
    text-align: center;
    align-item: center;
    margin: 0 auto;
    flex: 1 1 10%;
    margin: 10px 10px 0px 10px;
    border-radius: 20px 20px 0px 0px;
}