.menuSuperior{
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    margin-top: 40px;
    width: 100%;
    filter: drop-shadow(12px 12px 5px rgba( 0 0 0 / 60%));
}

.menuSuperior div:hover{
    background-color: rgba(28, 116, 98, 1);
    box-shadow: inset 3px 2px 8px white;
    transition: 0.3s;
}

.menuSuperior div{
    background-color: rgba(237, 237, 237, 1);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

a:hover{
    color: white;
    transition: 1s;
}

a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 14px 15px;
}

