html {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
}

* {
    /*border: solid; border-width: 1px; border-color: red;*/
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-style: normal;+
    font-weight: 400;
    box-sizing: 0px;
    margin: 0;
}

body {
    color: black;
    background: linear-gradient(to bottom, #B6BCBD 40%, grey 100%);
}

a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
}

h1 {
    color: black;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    padding: 80px 20px 0px 40px;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 20px 20px 40px;
}

p {
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding: 80px 40px 0px 40px;
}

.containerCursosBaristaPrincipal {
    min-width: 400px;
    height: 100vh;
    background-image: url(../img/sala01.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-content: flex-start;
}

.containerCursosBaristaPrincipal h1, h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba( 0 0 0 / 80%);
}

.containerLogoCursoBarista img {
    width: 150px;
    height: 150px;
    min-width: 100px;
    margin: 40px 20px 40px 40px;
}

.containerCursoBaristaTitulo {
    height: auto;
    min-width: 400px;
    margin: 0 auto;
    padding: 40px;
}

.containerTitulo {
    background-color: #50897D;
    height: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.conteinerDescritivoCurso h1 {
    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    padding: 30px 50px 5px 30px;
}

.conteinerDescritivoCurso div {
    padding: 20px;
}

.conteinerDescritivoCurso p {
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 0px 50px 30px 30px;
    text-align: justify;
}

.conteinerDescritivoCurso {
    background-color: #EDEDED;
}