html {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
}

* {
    /*border: solid; border-width: 1px; border-color: red;*/
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-style: normal;+
    font-weight: 400;
    box-sizing: 0px;
    margin: 0;
}

body {
    color: black;
    background: linear-gradient(to bottom, #B6BCBD 40%, grey 100%);
}

a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
}

h1 {
    color: black;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    padding: 80px 20px 0px 40px;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 20px 20px 40px;
}

p {
    color: black;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    padding: 80px 40px 0px 40px;
}

.containerQuemSomosPrincipal {
    min-width: 400px;
    height: 100vh;
    background-image: url(../img/Background_Cimento.jpg);
    background-repeat: no-repeat;
    justify-content: center;
    align-content: flex-start;
}