/* UM COFFEE SHOP */

.telaQuemSomos {
border: solid; border-width: 1px; border-color: blue;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 1920px;
    max-height: 1080px;
    min-width: 800px;
    background-size: 100%;
    margin: 0 auto;
}

.cxtexto {
border: solid; border-width: 1px; border-color: red;
    display: flex;
    align-items: stretch;
    width: 1920px;
    height: 100%;
}

/* caixa de texto UM COFFEE SHOP */
.cxt1 {
    background: #EDEDED;
    max-width: 50%;
}

/* caixa de texto com paragrafo da cxt UM COFFEE SHOP */
.cxt2 {
    background: #50897D;
    max-width: 50%;
}

/* container das fotos da loja */
.imgLoja {
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 1920px;
    width: 100vw;
    margin: 0 auto;
}

.imgLoja img {
    max-width: 300px;
    max-height: 300px;
    min-width: 100px;
    width: 100vw;
    padding: 50px 20px 0px 20px;
}

.telaQuemSomos h1 {
    color: black;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    padding: 120px 80px 10px 80px;
 }

 .telaQuemSomos h2 {
     color: black;
     font-size: 28px;
     line-height: 35px;
     padding: 0px 80px 0px 80px;
  }

.telaQuemSomos p {
    color: white;
    padding: 120px 80px 0px 80px;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
 }

* {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-style: normal;
    font-weight: 400;
  /*border: solid; border-width: 1px; border-color: red;*/
}